colorama==0.4.3
docopt==0.6.2
gitdb==4.0.5
GitPython==3.1.2
importlib-metadata==1.6.0
joblib==1.2.0
jsonpickle==1.4.1
munch==2.5.0
numpy==1.18.4
packaging==20.3
pandas==1.0.3
py-cpuinfo==5.0.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
sacred==0.8.1
scikit-learn==0.23.0
scipy==1.4.1
six==1.14.0
sklearn==0.0
smmap==3.0.4
threadpoolctl==2.0.0
wrapt==1.12.1
zipp==3.1.0
